doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    block scripts
      //script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js')

      userMail=userMail
    body
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        if typeof accPage === 'undefined'   
          a.navbar-brand(href='/') Find My PostCode
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/')
                  | Home 
                  span.sr-only (current)
              if typeof userMail === 'undefined'
                li.nav-item
                    a.nav-link.disabled(href='#') My Account
              else  
                li.nav-item
                  a.nav-link(href='users/myAccount') My Account
            ul.navbar-nav.ml-auto
              li.nav-item.mr-2
                #sBox.mt-2          
                  form#locationForm.form-inline.mt-2.mt-md-0(action = "/findArea", method = "POST" onSubmit="return val()") 
                    input#inputPostC.form-control.mr-sm-2(name = 'say', placeholder = 'Enter Postcode', required='', autofocus='')
                    button#locBtnPscode.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search   
              if typeof userMail === 'undefined'
                li.nav-item#lgIn
                  a.nav-link(href='/users/login')
                    button.btn.btn-lg.btn-primary.btn-block log In
              else
                li.nav-item#lgOut
                  form(method="POST", action="/users/logout") 
                    button.btn.btn-lg.btn-primary.btn-block log Out
              
            //form.form-inline.mt-2.mt-md-0#sBox
              input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        else
          a.navbar-brand(href='/') Find My PostCode
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')
                  | Home 
                li.nav-item.active  
                  a.nav-link(href='users/myAccount') My Account
            ul.navbar-nav.ml-auto
                li.nav-item#lgOut
                    //a.nav-link(href='users/logout') Log Out  
                    form(method="POST", action="/users/logout") 
                      button.btn.btn-primary.btn-lg.btn-block log Out
                li.nav-item
                  a.nav-link.mt-2(href='#')
                      span.sr-only 
                      p= userMail
  


      
    block content
    p.mt-5.mb-3.text-muted.text-center © Find My postcode 2020
    script
      //var lon = '#{long}';
      //var lat = '#{lat}';