extends layout

block content

    
  script.
    var postcode = '#{title}';
    //var longz = '#{test2}';
    //var easting = '#{ea}';
    //var northing = '#{no}';
   
  //script.
    console.log(lat,long)
  h1 The Weather is Here
  p Area #{title}

  
  p The weather here at  
    span#latitude  
    | &amp;&deg; 
    span#longitude  
    | &amp;&deg; is  
    span#summary 
    |  with a temperature of  
    span#temp &deg;  
    | C. The concentration of particulate matter ( 
    span#aq_parameter 
    | ) is
    span#aq_value 
    span#aq_units 
    | last read on 
    span#aq_date  
    #testDiv
  //div.textBlock
    all of the text below is as seen on the webpage    
    p The Ward Profiles are compiled for Bristol City Council wards using the latest data as of 
        b May 2019.
        | This interactive tool provides data for each of the wards against Bristol as a whole. It highlights any significant differences for the relevant ward compared to the Bristol average. The tool is designed to allow users to copy pages into other reports to provide local evidence. There is also a suite of individual ward profile reports. See 
        a(href="http://www.bristol.gov.uk/wardprofiles") www.bristol.gov.uk/wardprofiles.  
  
  .container
    .titContainer 
      a.btn.btn-primary.btn-lg(href="#" role="button") Crime
  
    .jumbotron
      h1.display-4
      .widget
        .header Total Number of crimes recorded by Police 2018/2019
        div#chartBrs.chart-container
        div#chartWrd.chart-container

      p.lead
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      hr.my-4
      p
        | It uses utility classes for typography and spacing to space content out within the larger container.
      p.lead
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
      p.CrimeComponent  
      hr.my-4
      ul.list-group



  script
    //include ../public/javascripts/makeMap.js
    include ../public/javascripts/mainFunc.js
    include ../public/javascripts/gettingFromAPI/checkPostCodeFunc.js
    include ../public/javascripts/checkPostCode.js
    include ../public/javascripts/D3/donut.js

    //include ../public/javascripts/updtDatabase.js
