extends layout

block content

    
  script.
    var postcode = '#{title}';
    //var longz = '#{test2}';
    //var easting = '#{ea}';
    //var northing = '#{no}';
   
  //script.
    console.log(lat,long)
  //h1 The Weather is Here
  //p Area #{title}

  
  //p The weather here at  
    span#latitude  
    | &amp;&deg; 
    span#longitude  
    | &amp;&deg; is  
    span#summary 
    |  with a temperature of  
    span#temp &deg;  
    | C. The concentration of particulate matter ( 
    span#aq_parameter 
    | ) is
    span#aq_value 
    span#aq_units 
    | last read on 
    span#aq_date  
    #testDiv
  //div.textBlock
    all of the text below is as seen on the webpage    
    p The Ward Profiles are compiled for Bristol City Council wards using the latest data as of 
        b May 2019.
        | This interactive tool provides data for each of the wards against Bristol as a whole. It highlights any significant differences for the relevant ward compared to the Bristol average. The tool is designed to allow users to copy pages into other reports to provide local evidence. There is also a suite of individual ward profile reports. See 
        a(href="http://www.bristol.gov.uk/wardprofiles") www.bristol.gov.uk/wardprofiles.  
  .container.marketing  
    .row
      .searchResult.col-sm-12
         h1.searchRes
      .col-sm-4.col-lg-2.text-center#cr
        .donut-container(style="background: #9C0;")
          .donut-inner
            .donut-label 
              title Crime
        h2 
          a(href='#Crimez') Crime
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#hs
        .donut-container(style="background: #9C0;")
          .donut-inner
            .donut-label 
              title Housing
        h2 
          a(href='#Houz') Housing
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#sr
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title Services
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 Services
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#pop
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title Population
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 Population
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
    
      .col-sm-4.col-lg-2.text-center#uscr
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title User Score
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 User Score
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
    
      .col-sm-4.col-lg-2.text-center#edu
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title Education
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 Education
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4

  .container
    .titContainer 
      a.btn.btn-primary.btn-lg#Crimez(href="#" role="button") Crime
  
    .jumbotron
      h1.display-4
      .widget.bg-dark
        .header.bg-info Total Crime 2018/2019
        .header_sub.bg-danger
          .cont-h#brs
          .cont-h#wrd 
        div#chartBrs.chart-container
        div#chartWrd.chart-container

      p.lead
        | #INFO
      .hiddenCont  
        hr.my-4
        p
          | It uses utility classes for typography and spacing to space content out within the larger container.
        p.lead
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
        p.lead
        | Crime in the last 3 Months  
        p.CrimeComponent  
        hr.my-4
        ul.list-group
        hr.my-4
        p.lead
          | Crime in the last 3 Months
          .latestCrime
        canvas#myChart
      btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    


  .container
      .titContainer 
        a.btn.btn-primary.btn-lg#popz(href="#" role="button") Population
    
      .jumbotron
        h1.display-4
        .widget.bg-dark
          .header.bg-info Total Population
          .header_sub.bg-danger
            //.cont-h#brs
            //.cont-h#wrd 
          //div#chartBrs.chart-container
          //div#chartWrd.chart-container
          .popBrs
          .popWrd
        p.lead
          | #INFO
        .hiddenCont  
          hr.my-4
          p
            | It uses utility classes for typography and spacing to space content out within the larger container.
          p.lead
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
          p.lead
          | Crime in the last 3 Months  
          p.CrimeComponent  
          hr.my-4
          ul.list-group
          hr.my-4
          p.lead
            | Crime in the last 3 Months
          canvas#popChart  
        btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    

  .container
        .titContainer 
          a.btn.btn-primary.btn-lg#Houz(href="#" role="button") Housing
      
        .jumbotron
          h1.display-4
          .widget.bg-dark
            .header.bg-info Total Number of Households
            .header_sub.bg-danger
              .cont-h#brs
              .cont-h#wrd 
            .row
              .col-sm-6 
                canvas#totalHouseBRS
              .col-sm-6 
                canvas#totalHouseWard
          
              //.cont-h#brs
              //.cont-h#wrd 
            //div#chartBrs.chart-container
            //div#chartWrd.chart-container
            .houseBrs
            .houseWrd
          p.lead
            | #INFO
          .hiddenCont  
            hr.my-4
            p
              | It uses utility classes for typography and spacing to space content out within the larger container.
            p.lead
              a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
            p.lead
            | Crime in the last 3 Months  
            p.CrimeComponent  
            hr.my-4
            .container
              .row
                .col-sm-6 
                  canvas#housing_ownedPieChart
                .col-sm-6 
                  canvas#housing_typePieChart
                .col-sm-6 
                  canvas#housing_bedPieChart
            hr.my-4
            p.lead
              | House price in the last 12 Months

            p.lead
              | Average house prices in the last 7 Years
            canvas#zooplaChart  
          btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    

          //Average price paid
            £205,500
            
            Sales
            2
            
            Current average value
            £209,992
            Zoopla estimate 
            Value change
            £3,679
            ▲ 1.78%

  script
    //include ../public/javascripts/makeMap.js
    include ../public/javascripts/mainFunc.js
    include ../public/javascripts/gettingFromAPI/checkPostCodeFunc.js
    include ../public/javascripts/checkPostCode.js
    include ../public/javascripts/D3/donut.js
    include ../public/javascripts/ChartJs/sampleChart.js
    include ../public/javascripts/ChartJs/popGraph.js
    include ../public/javascripts/ChartJs/zooplaGraph.js
    include ../public/javascripts/ChartJs/housing_ownedPie.js
    include ../public/javascripts/ChartJs/housing_typePie.js
    include ../public/javascripts/ChartJs/housing_bedPie.js
    include ../public/javascripts/ChartJs/totalHouse.js
    include ../public/javascripts/ChartJs/testChartJS.js

    //include ../public/javascripts/updtDatabase.js
