extends layout

block content
  script
    include ../public/javascripts/makeMap.js
    include ../public/javascripts/getPoliceData.js
    
  script.
    var latz = '#{test1}';
    var longz = '#{test2}';
    console.log("FUNAL",latz,longz);
   
  //script.
    console.log(lat,long)
  h1 The Weather is Here
  p Area #{title}
  p Lat #{test1}
  p Long #{test2}
  
  p The weather here at  
    span#latitude  
    | &amp;&deg; 
    span#longitude  
    | &amp;&deg; is  
    span#summary 
    | with a temperature of  
    span#temp &deg;  
    | C. The concentration of particulate matter ( 
    span#aq_parameter 
    | ) is
    span#aq_value 
    span#aq_units 
    | last read on 
    span#aq_date  
  
  //div.textBlock
    all of the text below is as seen on the webpage    
    p The Ward Profiles are compiled for Bristol City Council wards using the latest data as of 
        b May 2019.
        | This interactive tool provides data for each of the wards against Bristol as a whole. It highlights any significant differences for the relevant ward compared to the Bristol average. The tool is designed to allow users to copy pages into other reports to provide local evidence. There is also a suite of individual ward profile reports. See 
        a(href="http://www.bristol.gov.uk/wardprofiles") www.bristol.gov.uk/wardprofiles.  



  script
    //include ../public/javascripts/makeMap.js
    include ../public/javascripts/getPoliceData.js
