extends layout

block content

    
  script.
    var postcode = '#{title}';
    var lat = '#{latz}';
    var long = '#{longz}';
    console.log("postcode",postcode,"lat",lat,"long",long);
    //var longz = '#{test2}';
    //var easting = '#{ea}';
    //var northing = '#{no}';
   
  //script.
    console.log(lat,long)
  //h1 The Weather is Here
  //p Area #{title}

  
  //p The weather here at  
    span#latitude  
    | &amp;&deg; 
    span#longitude  
    | &amp;&deg; is  
    span#summary 
    |  with a temperature of  
    span#temp &deg;  
    | C. The concentration of particulate matter ( 
    span#aq_parameter 
    | ) is
    span#aq_value 
    span#aq_units 
    | last read on 
    span#aq_date  
    #testDiv
  //div.textBlock
    all of the text below is as seen on the webpage    
    p The Ward Profiles are compiled for Bristol City Council wards using the latest data as of 
        b May 2019.
        | This interactive tool provides data for each of the wards against Bristol as a whole. It highlights any significant differences for the relevant ward compared to the Bristol average. The tool is designed to allow users to copy pages into other reports to provide local evidence. There is also a suite of individual ward profile reports. See 
        a(href="http://www.bristol.gov.uk/wardprofiles") www.bristol.gov.uk/wardprofiles.  
  .container.marketing  
    .row
      .searchResult.col-sm-12
         h1.searchRes
      .col-sm-4.col-lg-2.text-center#cr
        .donut-container(style="background: #9C0;")
          .donut-inner
            .donut-label 
              title Crime
        h2 
          a(href='#Crimez') Crime
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#hs
        .donut-container(style="background: #9C0;")
          .donut-inner
            .donut-label 
              title Housing
        h2 
          a(href='#Houz') Housing
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#sr
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title Health
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 Health
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-sm-4.col-lg-2.text-center#pop
        .donut-container(style="background: #9C0;")
          .donut-inner
            .donut-label 
              title Population
        h2
          a(href='#popz') Population
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
    
      .col-sm-4.col-lg-2.text-center#edu
        svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
          title Education
          rect(width='100%', height='100%', fill='#777')
          text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
        h2 Education
        p
          | kox
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4

      .col-sm-4.col-lg-2.text-center#uscr
              svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title User Score
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
              h2 User Score
              p
                | kox
              p
                a.btn.btn-secondary(href='#', role='button') View details »
  
  .container
    .titContainer 
      a.btn.btn-primary.btn-lg#crimez(href="#" role="button" rel="crimeContainer") Crime
      a.btn.btn-primary.btn-lg#popz(href="#" role="button" rel="populationContainer") Population
      a.btn.btn-primary.btn-lg#houz(href="#" role="button"  rel="housingContainer") Housing
      a.btn.btn-primary.btn-lg#ratez(href="#" role="button" rel="ratingContainer") User Rating
     
      .crimeContainer#crimez
        .jumbotron
          h1.display-4
          .widget.bg-dark
            .header.bg-info Total Population
            .header_sub.bg-danger
              .cont-h#brs
              .cont-h#wrd 
            .row
              .col-sm-6 
                canvas#totalcrimeBRS
              .col-sm-6 
                canvas#totalcrimeWard

          p.lead
            | #INFO
          .hiddenCont  
            hr.my-4
            p
              | It uses utility classes for typography and spacing to space content out within the larger container.
            p.lead
              a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
            p.lead
            | Crime in the last 3 Months  
            p.CrimeComponent  
            hr.my-4

            .col-lg-12  
              ul.list-group.crimez

            hr.my-4
            p.lead
              | Crime in the last 3 Months
              .latestCrime
            canvas#myChart
            canvas#barCrime
          btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    


      .populationContainer#popz  
          .jumbotron
            h1.display-4
            .widget.bg-dark
              .header.bg-info Total Population
              .header_sub.bg-danger
                .cont-h#brs
                .cont-h#wrd 
              .row
                .col-sm-6 
                  canvas#totalpopBRS
                .col-sm-6 
                  canvas#totalpopWard
            p.lead
              | #INFO
            .hiddenCont  
              hr.my-4
              p
                | It uses utility classes for typography and spacing to space content out within the larger container.
              p.lead
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
              p.lead
              | Crime in the last 3 Months  
              p.CrimeComponent  
              canvas#popBar
              hr.my-4
              ul.list-group.popz
              hr.my-4
              p.lead
                | Crime in the last 3 Months
              canvas#popChart  
            btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    

      .housingContainer#houz
            .jumbotron
              h1.display-4
              .widget.bg-dark
                .header.bg-info Total Number of Households
                .header_sub.bg-danger
                  .cont-h#brs
                  .cont-h#wrd 
                .row
                  .col-sm-6 
                    canvas#totalHouseBRS
                  .col-sm-6 
                    canvas#totalHouseWard
              
                  //.cont-h#brs
                  //.cont-h#wrd 
                //div#chartBrs.chart-container
                //div#chartWrd.chart-container
                .houseBrs
                .houseWrd
              p.lead
                | #INFO
              .hiddenCont
                ul.list-group.houz
                hr.my-4
                p
                  | It uses utility classes for typography and spacing to space content out within the larger container.
                p.lead
                  a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
                p.lead
                | Housing information
                p.CrimeComponent
                .header_sub.bg-danger
                  .cont-h#brs
                  .cont-h#wrd   
                hr.my-4
                .container
                  .row
                    .col-sm-12.col-lg-6 
                      canvas#housing_ownedPieChartBRS   
                    .col-sm-12.col-lg-6 
                      canvas#housing_ownedPieChart
                  
                    .col-sm-12.col-lg-6  
                      canvas#housing_typePieChartBRS  
                    .col-sm-12.col-lg-6 
                      canvas#housing_typePieChart
                    
                    .col-sm-12.col-lg-6 
                      canvas#housing_bedPieChartBRS
                    .col-sm-12.col-lg-6  
                      canvas#housing_bedPieChart
                  


                hr.my-4
                p.lead
                  | Market Acrivity in the last 12 Months
                .col-12-lg
                   ul.list-group.mb-3
                        li.list-group-item.d-flex.justify-content-between.bg-light
                            .text-info
                                h6.my-0.wr
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Average Price Paid
                                small.text-muted
                            buttton#avgPaidPrice
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Total Sales
                                small.text-muted
                            buttton#Sales
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Value Change Compared to 3 Years
                                small.text-muted
                            buttton#valueChange
                        li.list-group-item.d-flex.justify-content-between.bg-light
                          .text-info
                              h6.my-0 Bristol
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Average Price Paid
                                small.text-muted
                            buttton#avgPaidPriceBrs
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Total Sales
                                small.text-muted
                            buttton#SalesBrs
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Value Change Compared to 3 Years
                                small.text-mutedBristol
                            buttton#valueChangeBrs
                        

                hr.my-4
                p.lead
                  | Average house prices in the last 7 Years
                canvas#zooplaChart  
              btn.viewAll.btn-primary.btn-lg(href="#" role="button") View More    

      .ratingContainer#ratez
              .jumbotron
                p#dispMessage.lead
                hr
                .row
                  .col-sm-12.col-lg-6 
                    canvas#userDrivenChart
                  .col-sm-12.col-lg-6 
                    canvas#userDrivenChart1
                  .col-sm-12.col-lg-6   
                    canvas#userDrivenChart2
                hr
                if typeof userMail === 'undefined'
                  p.lead
                    | Please log in to rate this area    
                else
                  p.lead
                    | Loged in    
                  .responseForm
                    form#ratings(action="/users/rateArea" method="POST" onSubmit="return resetForm()")
                      .form-row
                      | Please answer the following Questions
                      hr    
                      .form-group.col-sm-12
                          label(for='customRadio1') Would you recommend this area for someone to move into?
                          .custom-control.custom-radio
                            input#customRadio1.custom-control-input(type='radio', name='q1' value="Yes")
                            label.custom-control-label(for='customRadio1') Yes
                          .custom-control.custom-radio
                            input#customRadio2.custom-control-input(type='radio', name='q1' value="No")
                            label.custom-control-label(for='customRadio2') No
                      hr        
                      .form-group.col-sm-12
                          label(for='customRadio3') Would you agree your area is safe?
                          .custom-control.custom-radio
                            input#customRadio3.custom-control-input(type='radio', name='q2' value="Yes")
                            label.custom-control-label(for='customRadio3') Yes
                          .custom-control.custom-radio
                            input#customRadio4.custom-control-input(type='radio', name='q2' value="No")
                            label.custom-control-label(for='customRadio4') No
                      hr  
                      .form-group.col-sm-12
                          label(for='customRadio4') Is there enoguh space for parking?
                          .custom-control.custom-radio
                            input#customRadio5.custom-control-input(type='radio', name='q3' value="Yes")
                            label.custom-control-label(for='customRadio5') Yes
                          .custom-control.custom-radio
                            input#customRadio6.custom-control-input(type='radio', name='q3' value="No")
                            label.custom-control-label(for='customRadio6') No
                            input(type="hidden" id="wardNamezHidden" name="wardName")      
                      .form-group.col-sm-12    
                          button#subUser.btn.btn-primary.float-right(type='submit') Rate Area
    
  script
    //include ../public/javascripts/makeMap.js
    include ../public/javascripts/mainFunc.js
    include ../public/javascripts/gettingFromAPI/checkPostCodeFunc.js
    include ../public/javascripts/checkPostCode.js
    include ../public/javascripts/D3/donut.js
    include ../public/javascripts/ChartJs/sampleChart.js
    include ../public/javascripts/ChartJs/popGraph.js
    include ../public/javascripts/ChartJs/zooplaGraph.js
    include ../public/javascripts/ChartJs/housing_ownedPie.js
    include ../public/javascripts/ChartJs/housing_typePie.js
    include ../public/javascripts/ChartJs/housing_bedPie.js
    include ../public/javascripts/ChartJs/totalHouse.js
    include ../public/javascripts/ChartJs/stackedChartJs.js
    include ../public/javascripts/ChartJs/plainDonut.js
    include ../public/javascripts/ChartJs/barChart.js
    
    //include ../public/javascripts/ChartJs/testChartJs.js

    //include ../public/javascripts/updtDatabase.js
